@import-normalize;
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		margin: 0;
		font-family: -apple-system, BlinkMacSystemFont, 'Futura', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
			'Droid Sans', 'Helvetica Neue', sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	input:-webkit-autofill {
		background-color: transparent !important;
		-webkit-box-shadow: 0 0 0 50px white inset;
	}

	/* Chrome, Safari, Edge, Opera */
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	/* Firefox */
	input[type='number'] {
		-moz-appearance: textfield;
	}

	::-webkit-scrollbar {
		width: 5px;
		height: 5px;
	}

	/* Track */
	::-webkit-scrollbar-track {
		box-shadow: inset 0 0 2px grey;
		border-radius: 10px;
		-webkit-box-shadow: inset 0 0 2px grey;
		-webkit-border-radius: 10px;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		-webkit-border-radius: 10px;
		-webkit-border: 10px;
		background: #adadad;
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: #171717;
	}

	.pac-container > .pac-item::after {
		height: 70px !important;
	}

	code {
		font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
	}

	.h2 {
		@apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
	}

	.h3 {
		@apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
	}

	.h4 {
		@apply font-primary font-semibold text-[20px] mb-6 leading-[30px];
	}

	.scrollable {
		@apply scrollbar-thin scrollbar-thumb-accent scrollbar-track-gray-100;
	}

	.section {
		@apply p-2 w-full mx-auto items-center overflow-x-hidden h-screen;
	}

	/* BUTTONS */
	.btn-base {
		@apply rounded font-semibold ease-linear transition-all capitalize duration-75 text-sm py-2 px-4;
	}

	/* CHIPS */
	.chip-base {
		@apply rounded font-semibold uppercase text-sm px-6 py-3 disabled:bg-slate-200 diabled:opacity-70 disabled:cursor-not-allowed;
	}

	/* ICONS */
	.icon-btn {
		@apply rounded-md ease-linear transition-all duration-75 p-1 m-2 hover:scale-110 hover:bg-gray-200/70 dark:text-white;
	}
}
