@import-normalize;
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply snap-y snap-mandatory;
	}
	body {
		margin: 0;
		font-family:
			'Roboto',
			-apple-system,
			BlinkMacSystemFont,
			'Futura',
			'Oxygen',
			'Ubuntu',
			'Cantarell',
			'Fira Sans',
			'Droid Sans',
			'Helvetica Neue',
			sans-serif;
	}

	svg {
		fill: currentColor;
		stroke: currentColor;
	}

	input:-webkit-autofill {
		background-color: transparent !important;
		-webkit-box-shadow: 0 0 0 50px white inset;
	}

	/* Chrome, Safari, Edge, Opera */
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	/* Firefox */
	input[type='number'] {
		-moz-appearance: textfield;
	}

	::-webkit-scrollbar {
		width: 5px;
		height: 5px;
	}

	/* Track */
	::-webkit-scrollbar-track {
		box-shadow: inset 0 0 2px grey;
		border-radius: 10px;
		-webkit-box-shadow: inset 0 0 2px grey;
		-webkit-border-radius: 10px;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		-webkit-border-radius: 10px;
		-webkit-border: 10px;
		background: #adadad;
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: #171717;
	}

	.pac-container:after {
		/* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */

		background-image: none !important;
		height: 0px;
	}

	.material-icons {
		font-family: 'Material Icons';
		font-weight: lighter;
		font-style: initial;
		font-size: 24px; /* Preferred icon size */
		display: inline-block;
		line-height: 1;
		text-transform: none;
		letter-spacing: normal;
		word-wrap: normal;
		white-space: nowrap;
		clear: both;
		direction: ltr;

		/* Support for all WebKit browsers. */
		-webkit-font-smoothing: antialiased;
		/* Support for Safari and Chrome. */
		text-rendering: optimizeLegibility;

		/* Support for Firefox. */
		-moz-osx-font-smoothing: grayscale;

		/* Support for IE. */
		font-feature-settings: 'liga';
	}
	.material-icons.md-12,
	.material-icons-outlined.md-12,
	.material-icons-round.md-12,
	.material-icons-sharp.md-12,
	.material-icons-two-tones.md-12 {
		font-size: 12px !important;
		height: 12px !important;
		width: 12px !important;
	}
	.material-icons.md-18,
	.material-icons-outlined.md-18,
	.material-icons-round.md-18,
	.material-icons-sharp.md-18,
	.material-icons-two-tones.md-18 {
		font-size: 18px !important;
		height: 18px !important;
		width: 18px !important;
	}
	.material-icons.md-24,
	.material-icons-outlined.md-24,
	.material-icons-round.md-24,
	.material-icons-sharp.md-24,
	.material-icons-two-tones.md-24 {
		font-size: 24px !important;
		height: 24px !important;
		width: 24px !important;
	}
	.material-icons.md-36,
	.material-icons-outlined.md-36,
	.material-icons-round.md-36,
	.material-icons-sharp.md-36,
	.material-icons-two-tones.md-36 {
		font-size: 36px !important;
		height: 36px !important;
		width: 36px !important;
	}
	.material-icons.md-48,
	.material-icons-outlined.md-48,
	.material-icons-round.md-48,
	.material-icons-sharp.md-48,
	.material-icons-two-tones.md-48 {
		font-size: 48px !important;
		height: 48px !important;
		width: 48px !important;
	}

	/* Rules for using icons as black on a light background. */
	.material-icons.md-dark {
		color: rgba(0, 0, 0, 0.54);
	}
	.material-icons.md-dark.md-inactive {
		color: rgba(0, 0, 0, 0.26);
	}

	/* Rules for using icons as white on a dark background. */
	.material-icons.md-light {
		color: rgba(255, 255, 255, 1);
	}
	.material-icons.md-light.md-inactive {
		color: rgba(255, 255, 255, 0.3);
	}

	h1,
	.h1 {
		@apply font-primary text-[36px];
	}
	h2,
	.h2 {
		@apply font-primary text-[32px] tracking-[10%];
	}
	h3,
	.h3 {
		@apply font-primary text-[26px] tracking-[10%];
	}
	h4,
	.h4 {
		@apply font-primary text-[24px] tracking-[10%];
	}
	.scrollable {
		@apply scrollbar-thumb-accent scrollbar-thin scrollbar-track-gray-100;
	}
}

@layer components {
	/* CHIPS */
	.chip-base {
		@apply rounded px-6 py-3 text-sm font-semibold uppercase disabled:cursor-not-allowed disabled:bg-slate-200 disabled:opacity-70;
	}
	/* BUTTONS */
	.btn-base {
		@apply rounded;
	}
	.btn-sm {
		@apply px-2 py-2 text-xs leading-none;
	}
	.btn-md {
		@apply px-4 py-3 text-base leading-none;
	}
	.btn-lg {
		@apply px-6 py-4 text-lg leading-none;
	}
	/* ICONS */
	.icon-btn {
		@apply m-2 rounded-md p-1 transition-all ease-linear hover:scale-110 hover:bg-gray-200/70 dark:text-white;
	}
	.section {
		@apply mx-auto h-screen w-full items-center overflow-x-hidden p-2;
	}
}

@layer utilities {
	textarea.disable-resize {
		@apply resize-none;
	}
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}
